html{
    scroll-behavior: smooth;
  }
  body{
    margin: 0%;
  }
  
  .mtop{
      margin-top: 5vw;
  }
  .pbot{
      padding-bottom: 75px;
  }

  .sign_up {
    transition-duration: 0.4s;
  }
  
  .sign_up:hover {
    background-color: #db2626; 
    color: white;
  }


  .navbar{
    height: 3rem;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    font-weight: 600;
}


.show{
  right: 0;
}



@media screen and (max-width: 768px){
    .nav-menu{
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: white;
        transition: .75s;
    }

    .home-img{
        align-self: center;
        width: 100%;
    }

    

    
  
}


.nav-item{
    display: inline;
}

.nav-link{
    position: relative;
    color: rgb(10, 17, 235);
}


.nav-logo{
    color: rgb(10, 17, 235);
}

.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: rgb(10, 17, 235);
}
