html{
    scroll-behavior: smooth;
  }
  body{
    margin: 0%;
  }
  
  .mtop{
      margin-top: 5vw;
  }
  .pbot{
      padding-bottom: 75px;
  }

  .sign_up {
    transition-duration: 0.4s;
  }
  
  .sign_up:hover {
    background-color: #db2626; 
    color: white;
  }