{% extends "frame.html" %}
{% block title %}INDEX{% endblock %}
{% block navbar %}

<div class="container-fluid col-2" style="float:right;" >

   <ul class="navbar-nav ml-auto mr-3" >
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('cart')}}">cart</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">{{name}}
            </a>
            <div class="dropdown-menu mt-3"  >
                <a class="dropdown-item" href="{{url_for('logout')}}" >Log Out</a>
            </div>  
            
        </li>
    </ul> 
  </div> 
{% endblock %}

{% block content %}

<div class="container" style="color: black;background-color: white;margin-top: 100px;border-radius: 10px;">
    <div id ="view" class="page text-center" >
                
        <hr>
        <div class="row pt-2 pb-2">
            <div class="col-4">
                <!-- <p class="text-danger" style="text-align: left;"> non-veg</p> -->
                <!-- <img class="card-img" style="height: 75px; width: 50%;border-radius: 5%; " src="static/image/r1.jpg" onerror="this.src='../static/img/alt.png';" > -->
            </div>
            <div class="col-4">
                <!-- <span><p class="card-title " style="text-align: left;font-size: 1vw;">Name</p>  </span> -->
            </div>
            <div class="col-3">
                <p style="text-align: center;width: 50%; margin: 0;">Total : xxx Rs.</p>
            </div>
        </div>

        <div class="pb-2">
            <button  class="btn btn-md text-center ml-2 my-auto" style="border-radius: 0.7vw; background-color: #0080ff; color: white;width: 10vw;height: 3vw; font-size: 1.3vmax;" onclick="login()">
                Check out
              </button>    
        </div>
    </div>
</div>


<script>
    document.getElementById("view").addEventListener("load", viewCart());
</script>

{% endblock %}
