{% extends "frame.html" %}
{% block title %}INDEX{% endblock %}
{% block navbar %}


<div class="container-fluid col-2">

   <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('cart')}}">cart</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
            </a>
            <div class="dropdown-menu mt-3"  >
                <a class="dropdown-item" href="{{url_for('login')}}" >My Profile</a>
                <a class="dropdown-item" href="{{url_for('login')}}" >Log Out</a>
            </div>  
            
        </li>
    </ul> 
  </div> 
{% endblock %}

{% block content %}

<style>
    .card-zoom{
    transition: 0.25s;
  }

  .card-zoom:hover {
    transform: scale(1.2);
  }

</style>

<style>
    .rating {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
  }
  
  .rating-upper {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
  }
  
  </style>



<div class="container" style="color: black;background-color: white;margin-top: 100px;border-radius: 10px;">
    <div class="page text-center">
        <div class="nav-menu" id="navMenu">
            <ul class="nav-list row">
                <li class="nav-item col-3"><a href="#home" class="nav-link active" id="h" onclick="linkAction('h')">nearbyme</a></li>
                <li class="nav-item col-3"><a href="#about" class="nav-link" id="a" onclick="linkAction('a')">bestseller</a></li>
                <li class="nav-item col-3"><a href="#proj" class="nav-link " id="p" onclick="linkAction('p')">my favourite</a></li>
                <li class="nav-item col-3"><a href="#certi" class="nav-link" id="c" onclick="linkAction('c')">offers</a></li>
            </ul>
        </div>

        {% for i in range(4) %}
        <div class="row " >
            {% for list in dic %}
            <div class="col p-3" style="margin: 0px;">
                <form action="{{ url_for('menu')}}" method="POST">
                    <input type="hidden" name="movieId" value="">
                    <input type="hidden" name="title" value="">
                    <input type="hidden" name="poster" value="">
                    <input type="hidden" name="userId" value="">
                  
                    <input type="hidden" name="link" value="home">
                    
                    <button type="submit" style="background-color: transparent;border-color: transparent;color: white;">
                        <div class="card card-zoom pb-3"  >
                            <img class="card-img" style="height: 200px; width: 175px; " src="{{list}}" onerror="this.src='../static/img/alt.png';" >
                            <div class="card-img-overlay text-center mt-5 d-flex flex-column justify-content-end" style="background: linear-gradient(to top,#000 30% ,transparent);" > 
                           
                                <p class="card-title" style="font-size: 1vw;">Name</p>    
                            </div>
                            <div class="rating">
                                <div class="rating-upper" style="width: 80%">
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                </div>
                                <div class="rating-lower">
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                </div>
                            </div>
                        </div>
    
                    </button>
                </form>     
            </div>
            {% endfor %}
            
        </div>
        {% endfor %}

    </div>

</div>



{% endblock %}
