{% extends "frame.html" %}
{% block title %}INDEX{% endblock %}
{% block navbar %}
<div class="col-8" style=" padding-top: 1.5%;padding-left: 15%;">
    <form action="{{url_for('search')}}" method="POST">
        <div class="input-group mb-3"  >
            <input type="text" class="form-control"  placeholder=" Search Restaurant....." style=" border-radius: 5px; " name="search" required>
            <div>
                <button type="submit"  class="btn btn-outline-secondary btn-primary" style=" color: black;background-color: blue;">Search
                </button>        
            </div>    
        </div>
        
    </form>

</div>

<div class="container-fluid col-2">

   <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
                Hi, {{userIn["Fname"]}} {{userIn['Lname']}}
            </a>
            <div class="dropdown-menu mt-3"  >
                <a class="dropdown-item" href="{{url_for('profile')}}" >My Profile</a>
                <a class="dropdown-item" href="{{url_for('logout')}}" >Log Out</a>
            </div>  
            
        </li>
    </ul> 
  </div> 
{% endblock %}

{% block content %}

<div class="container" style="color: black;background-color: white;margin-top: 100px;border-radius: 10px;">
    <div class="page text-center">
        <div class="row">
            <div class="col-3">
                <button  class="btn btn-md text-center ml-2 my-auto" style="border-radius: 0.7vw; background-color: #0080ff;float: right; color: white;width: 10vw;height: 3vw; font-size: 1.3vmax;" onclick="index()">
                    Restaurant
                </button> 
            </div>
            <div class="col-3">
                <button  class="btn btn-md text-center ml-2 my-auto" style="border-radius: 0.7vw; background-color: #0080ff;float: right; color: white;width: 10vw;height: 3vw; font-size: 1.3vmax;" onclick="index()">
                    SIGN IN
                </button>      
            </div>
            <div class="col-3">
                <button  class="btn btn-md text-center ml-2 my-auto" style="border-radius: 0.7vw; background-color: #0080ff;float: right; color: white;width: 10vw;height: 3vw; font-size: 1.3vmax;" onclick="index()">
                    SIGN IN
                  </button>        
            </div>
            <div class="col-3">
                <button  class="btn btn-md text-center ml-2 my-auto" style="border-radius: 0.7vw; background-color: #0080ff;float: right; color: white;width: 10vw;height: 3vw; font-size: 1.3vmax;" onclick="index()">
                    SIGN IN
                </button>
            </div>
        </div>

        <div class="row">
            
        </div>

    </div>

</div>


{% endblock %}
